/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Cabin', sans-serif;
  background: #000;
}

/* HEADER */
header {
  background: #3c4656; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* header text */
header h2 {
  color: #69c26b;
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
}

/* monke image */
header nav img {
  height: 100px;
  width: auto;
  object-fit: cover;
}
header nav img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

/* MAIN */
.monkeStage {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.monkeGif {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* "Click for Monke" */
.overlay {
  color: #fff;
  font-size: 36px;
  font-family: 'Cabin', sans-serif; 
}
